.app-header {
    background-color: #5494d5;
}

header{
    text-align: center;
    position: relative;
}

.paragraphs{
    background-color: #ddd;
    font-size: large;
    font-weight: bold;
    outline: none;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-bottom: 10px;
}
details p:last-child{
    margin-bottom: 40px;
}
.section-head{
    margin: 20px 30px 20px 10px;
    background-color: #fff;
}
.section-head p{
    padding-left: 8px;
    text-indent: 20px;
}
.article-header{
    background: #7cf;
    font-weight: bold;
    font-size: 1.38em;
    padding: 10px 3px 5px;
}
.common-name{
    font-weight: 700;
}
.binomial-name{
    font-style: italic;
    font-weight: 400;
}

article .content-area{
    float:left;
    width: 100%;
}

.section-image{
    float: right;
    margin: 0 0 5px 5px;
    margin-top: inherit;
    max-width: 40%;
}
.section-image img{
    max-width: 100%;
}
.section-image,
.similar-image{
    border: 1px solid black;
    border-radius: 3px;
}
#main-content{
    transition: width 0.5s;
    transition-timing-function: ease-in;
}

header.side-bar-header{
    background: #ccc;
    border-bottom: 1px solid black;
    border-top-left-radius: inherit;
    font-size: 1em;
    font-weight: bold;
    padding: 5px;
}
.side-bar figure{
    width: 100%;
}
.side-bar figure>a>img{
    width: 100%;
}
.sidebar-open {
    width: 20%;
    min-width: 300px;
} 
.sidebar-closed{
    width: 0%;
    min-width: 0px;
}
.sidebar-container{
    display: grid;
    grid-template-columns: 10px auto;
    grid-template-rows: 0px auto 3px;
    position: relative;
    height: 100%;
    padding-top: 33px;
    margin-top: -33px;
}
.scroller{
    grid-column-start: 2;
    grid-row-start: 2;
    overflow-y: scroll;
    padding: 10px 0 0;
    max-height: 100%;
}
.side-bar{
    background: white;
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
    height: 75%;
    right: -1px;
    top: 20%;
    position: fixed;
    transition: width 0.5s;
    transition: min-width 0.5s;
    transition-timing-function: ease-out;
}
.image-caption{
    margin-bottom: 5px;
    padding-left: 5px;
}
.similar-species{
    border-bottom: 3px double #aaa;
    margin-bottom: 10px;
    margin-right: 10px;
}
.similar-species figcaption{
    font-size: 0.8em;
}
.content-area figcaption,
.similar-species figcaption{
    font-style: italic;
}
.similar-species p{
    font-size: 0.8em;
    padding: 0 10px 0;

}
.tab{
    background-color: #ccc;
    border: 1px solid black;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 1.3em;
    font-weight: bold;
    left: 0;
    margin-left: -20px;
    padding: 2px;
    position: absolute;
    right: 20%;
    top: 50%;
    width: 19px;
}

/* add transition to details elements */
details[open] summary ~ * 
{
 animation: sweep .25s ease-in-out;
}

@keyframes sweep 
{
 0%    {opacity: 0; margin-top: -5px}
 100%  {opacity: 1; margin-top: 0px}
}